body {
	background: url('../img/bg_blur.jpg') no-repeat center center fixed;
	background-size: cover;
    color: #fff;
	font-family: 'Merriweather', serif;
}


ul {
  list-style-type: none;
}


.container {
	max-width: 940px;
}

.jumbotron {
	background-color: rgba(43, 30, 24, 0.6);
}

/* Header */
.header {
	text-align: center;
	margin-bottom: 20px;
}

.header .container {
	padding: 10px 0;
	border-bottom: 1px solid #e5e5e5;
}

.logo a{
	color: #fff;
    text-shadow: 0 2px 3px rgba(0,0,0,.4);
	text-decoration: none;
	font-size: 2.3rem;
	font-weight: bold;
}

.jumbotron a{
	color: #fff;
    text-shadow: 0 2px 3px rgba(0,0,0,.4);
	text-decoration: none;
}

.logo a:hover{
	text-decoration: none;
}

.footer .container {
	padding: 20px 0;
	border-top: 1px solid #e5e5e5;
}
